<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<center>
        <br><br>
        <a class="btn btn-primary" href="/">HOME</a><br><br>
    <h1 style="text-align:center;">Admin Login</h1><br><br><br><br>

    <form action="/admindashboard" method="get">

        Username: <input type="text" name="user"><br><br>
        Password: <input type="password" name="pass"><br><br>
        <input type="submit" class="btn btn-danger" value="Log in">

        </center>

    </form>
</body>
</html>